# Environnement Python
.venv/
venv/
__pycache__/
*.pyc

# Variables secrètes
.env
*.env

# Données
data/bronze/*
data/silver/*
data/gold/*

# Modèles et expérimentations
models/*
mlruns/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Système
.DS_Store
Thumbs.db
